@model EventApp.DTOs.EventDto
@{
    Layout = "_AdminDashBoard";
}
@{
    Layout = "_AttendeeDashBoard";
}
@{ 
    Layout = "_OrganizerDashBoard";
}

<dl class="row">
    <dt class="col-sm-2">
        Title:
    </dt>
    <dd class="col-sm-10">
        @Model.Title
    </dd>
    <dt class="col-sm-2">
        Theme:
    </dt>
    <dd class="col-sm-10">
        @Model.Theme
    </dd>
    <dt class="col-sm-2">
        Event Date:
    </dt>
    <dd class="col-sm-10">
        @Model.EventDate
    </dd>
    <dt class="col-sm-2">
        Event Time:
    </dt>
    <dd class="col-sm-10">
        @Model.EventTime
    </dd>
    <dt class="col-sm-2">
        Venue:
    </dt>
    <dd class="col-sm-10">
        @Model.Venue
    </dd>
    <dt class="col-sm-2">
        Instructions:
    </dt>
    <dd class="col-sm-10">
        @Model.Instructions
    </dd>
   
</dl>

<button style="background-color:darkblue;"><a asp-action="AttendeeAllBookedEvents">Back to List</a></button>