@using System.Security.Claims;
@model IEnumerable<EventApp.DTOs.EventDto>
@{
    Layout = User.IsInRole("Admin") ? "_AdminDashBoard" : "_OrganizerDashBoard";
    var loggedInUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="card-header" style="background-color: aqua;">
    <div class="card-title">
        <h1 class="text-center">Events</h1>
    </div>
</div>

<table class="table">
    <thead>
        @if (User.IsInRole("Admin"))
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Theme)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.EventDate)
                </th>

                <th>
                    Details
                </th>
                <th>
                    Delete
                </th>
            </tr>
        }
        else if (User.IsInRole("Attendee"))
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Theme)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.EventDate)
                </th>
                
                <th>
                    Details
                </th>
               
            </tr>
        }
        else
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Theme)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.EventDate)
                </th>


                <th>
                    Update
                </th>
                <th>
                    Details
                </th>
                <th>
                    Delete
                </th>
            </tr>
        }

    </thead>
    <tbody>
        @foreach (var events in Model)
        {
            if (User.IsInRole("Admin"))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => events.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => events.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => events.Theme)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => events.EventDate)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@events.Id">Details</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@events.Id">Delete</a>
                    </td>
                </tr>
            }
            else if (User.IsInRole("Attendee"))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => events.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => events.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => events.Theme)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => events.EventDate)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@events.Id">Details</a>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => events.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => events.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => events.Theme)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => events.EventDate)
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id="@events.Id">Update</a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@events.Id">Details</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@events.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

